/* CSS styles for interest calculator. We are using flexbox positioning. The rest is as in examples. We are also using _rem_ units for spacing. */

/* reset of all paddings and margins */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:black;
    font-family:arial;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
h1 {
    color:grey;
    font-family:verdana;
    padding:1rem;
}
.maindiv {
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    min-width: 35rem;
}
.footer {
    padding:1rem;
}
.calculator {
    display: flex;
    flex-direction: column;
    margin-left:4rem;
}
.calculator label {
    display:inline-block;
    min-width:8rem;
}
.calculator div {
    padding:0.3rem;
}
.calculator button {
    padding:0.2rem;
}